.row {
  padding: 25px;
  background-color: #a1b5cb;
}

.container {
  width: auto;
}
.parte1,
parte2 {
  display: inline-block;
  text-align: justify;
}

h2 {
  margin-top: 25px;
}

.img-proyecto {
  width: 80%;
  box-shadow: 10px 10px 30px #000000;
  margin-bottom: 30px;
}
