<div class="row">
  <h1>Proyectos Realizados</h1>
  <div class="container">
    <div class="parte1">
      <h2>Encriptador</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt nisi
        impedit ratione eum labore neque unde sequi modi corrupti quas dicta
        saepe sint voluptate, dolore voluptas doloribus. Maxime, ut sit?
      </p>
    </div>
    <div class="parte2">
      <a href="https://leandrosbf.github.io/encriptador/"
        ><img
          src="../../../assets/encriptador.png"
          alt="Pantalla de inicio del Encriptador"
          class="img-fluid img-proyecto"
      /></a>
    </div>

    <div>
      <h2>Conversor de Divisas</h2>
      <img src="" alt="" />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt nisi
        impedit ratione eum labore neque unde sequi modi corrupti quas dicta
        saepe sint voluptate, dolore voluptas doloribus. Maxime, ut sit?
      </p>
    </div>
  </div>
</div>
