<div class="row">
  <h1>Habilidades Duras y Blandas</h1>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [showUnits]="false"
      [imageSrc]="'../../../assets/HTML5_logo.png'"
      [showImage]="true"
      [imageHeight]="70"
      [imageWidth]="70"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [showUnits]="false"
      [imageSrc]="'../../../assets/CSS3_logo.png'"
      [showImage]="true"
      [imageHeight]="65"
      [imageWidth]="65"
      [showSubtitle]="false"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="6"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [titleColor]="'pink'"
      [titleFontWeight]="'3em'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [title]="'JS'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [title]="'INGLES'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [title]="'GITHUB'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>

  <div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
      [percent]="85"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [title]="'TRABAJO COLABORATIVO'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
</div>
